@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600;");


.taglinefade {
    -webkit-transition: opacity 3s; /* For Safari 3.1 to 6.0 */
    transition: opacity 3s;
    opacity: 0;
}

.taglineshow {
    opacity: 1;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .lele {
        background-color: #0059bc;
    }

    .paddingleftinput {
        padding-left: 52%;
    !important;
    }

    .paddingstorelogo {
        padding-left: 52%;
    !important;
    }

    .startthewebdesktop {
        padding-left: 7%;
        padding-right: 7%;
        border: 3px solid white;
        background-color: #2E3842;
        height: 50px;
    }

    .startwebmarginleft {
        margin-left: 10%;
    }

    .inputmargindesktop {
        margin-left: 55%;
    }



}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .lele {
        background-color: #b9151b;
    }

    .paddingleftinput {
        padding-left: 3%;
    !important;
    }

    .startthewebmargintop {
        margin-top: 10px;
        text-align: center;
    }

    .startthewebdesktop {
        padding-left: 7%;
        padding-right: 7%;
        border: 3px solid white;
        background-color: #2E3842;
        height: 50px;
    }

    .inputmarginmobile {
        text-align: center;
    }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .lele {
        background-color: grey;
    }

    .lele {
        background-color: #b9151b;
    }

    .paddingleftinput {
        padding-left: 3%;
    !important;
    }

    .startthewebmargintop {
        margin-top: 10px;
        text-align: center;
    }

    .startthewebdesktop {
        padding-left: 7%;
        padding-right: 7%;
        border: 3px solid white;
        background-color: #2E3842;
        height: 50px;
    }

    .inputmarginmobile {
        text-align: center;
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .lele {
        background-color: blueviolet;
    }

    .lele {
        background-color: #b9151b;
    }

    .paddingleftinput {
        padding-left: 3%;
    !important;
    }

    .startthewebmargintop {
        margin-top: 10px;
        text-align: center;
    }

    .startthewebdesktop {
        padding-left: 7%;
        padding-right: 7%;
        border: 3px solid white;
        background-color: #2E3842;
        height: 50px;
    }

    .inputmarginmobile {
        text-align: center;
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    .lele {
        background-color: #b9151b;
    }

    .paddingleftinput {
        padding-left: 3%;
    !important;
    }

    .startthewebmargintop {
        margin-top: 10px;
        text-align: center;
    }

    .startthewebdesktop {
        padding-left: 7%;
        padding-right: 7%;
        border: 3px solid white;
        background-color: #2E3842;
        height: 50px;
    }

    .inputmarginmobile {
        text-align: center;
    }

}

.planandplay {

    -webkit-transition: background-color 2s;
    transition: background-color 2s;
}

.splitandsettle {

    -webkit-transition: background-color 2s;
    transition: background-color 2s;
}

.planandplay:hover {
    background-color: cornflowerblue;
}

.splitandsettle:hover {
    background-color: cornflowerblue;
}

.changenavcolor {
    background-color: white;
!important;
}

.hidelogo {
    opacity: 0;
}

#phoneNumber {
    text-align: center;
    width: 160px;
    height: 48px;
    border-radius: 5px;
    color: #0c77ad;
    font-family: 'titillium web', sans-serif;
}

.linkbuttonforapp {
    background-color: white;
    border: 1px solid #f5a623;
    height: 48px;
    width: 160px;
    border-radius: 5px;
    margin-left: 30px;
    color: #f5a623;
    font-family: 'Titillium Web',
    sans-serif;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 12px;
}

.linkbuttonforapp:hover {
    background-color: #f5a623;
    color: white;
}

#linkButton {
    width: 150px;
}

#getLink {
    margin-left: 5px;
    margin-top: 0px;
}

.defaultnavcolor {
    -webkit-transition: background-color 2s;
    transition: background-color 2s;
    background-color: #2E3842;
}

.changenavcolour {
    background-color: white;
}

.divone {
    background: url("../images");
}

.storebutton {
    border: 1px solid black;
    background-color: black;
    width: 150px;
}

.storebutton:hover {
}

.linkhover:hover {
    background-color: gainsboro;
}

.defaulticonbar {
    -webkit-transition: background-color 2s;
    transition: background-color 2s;
    background-color: #5585B5;
}

.changeiconbar {
    background-color: #5585B5;
}

.startonwebbutton {
    background-color: white;
    border: 1px solid #f5a623;
    height: 50px;
    width: 360px;
    color: #f5a623;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 1em;
}

.startonwebbutton:hover {
    background-color: orange;
    color: white;
}

.defaultlogostyle {

}

.starttimerlogo {
    display: initial;
}

.endtimerlogo {
    display: none;
}

body {
    padding-top: 50px;
}

.makebodyblur {
    -webkit-filter: invert(100%);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.howitworks {
    color: white; !important;
    padding-left:15%;
    cursor: pointer;
}

.howitworks:hover {
    color: black;
}

.howitworksanimate {
    -webkit-animation-name: mymove; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: mymove;
    animation-duration: 1s;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {
        margin-top: 5px;
    }
    to {
        margin-top: 0px;
    }
}

/* Standard syntax */
@keyframes mymove {
    from {
        margin-top: 5px;
    }
    to {
        margin-top: 0px;
    }
}

.examples {
    color: white;  !important;
    padding-left:15%;
    cursor: pointer;
}

.examples:hover {
    color: black;
}

.getstarted {
    color: white;  !important;
    padding-left:15%;
    cursor: pointer;
}

.getstarted:hover {
    color: black;

}

.faqs {
    color: white;  !important;
    padding-left:15%;
    cursor: pointer;
}

.faqs:hover {
    color: black;
}

.forbusinesses {
    color: white;  !important;
    padding-left:15%;
    cursor: pointer;
}

.linebreakersidebar{
    color: white;  !important;
    padding-left:15%;
}

.forbusinesses:hover {
    color: black;
}

.myaccount {
    color: #f5a623;  !important;
    padding-left:15%;
    cursor: pointer;
}

.myaccount:hover {
    color: black;
}

.splitsettletextdefault {
    color:#0c77ad;
    -webkit-transition: all 2s;
    transition: all 2s;
    opacity: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size:1.5em;
    font-weight: 900;
    letter-spacing:0.2px;
    zoom:1;
    display:block;

}

.splitsettletextonefade {
    opacity: 1;
}

.splitsettletexttwofade {
    opacity: 1;
}

.splitsettletextthreefade {
    opacity: 1;
}

.splitsettletextfourfade {
    opacity: 1;
}

.splitsettleimagedefault {
    z-index: 10;
    width: 163px;
    -webkit-transition: all 2s linear;
    transition: all 2s linear;
    display: none;
    opacity: 0;
    position: absolute;
    top: 33px;
    margin-left: 8px;
}

.splitsettleimageonefade {
    display: initial;
    opacity: 1;
}

.splitsettleimagetwofade {
    display: initial;
    opacity: 1;
}

.splitsettleimagethreefade {
    display: initial;
    opacity: 1;
}

.splitsettleimagefourfade {
    display: initial;
    opacity: 1;
}

.plantextdefault {
    -webkit-transition: all 2s;
    transition: all 2s;
    opacity: 0;
    color: #0c77ad;
    font-family: 'Titillium Web', sans-serif;
    font-size:1.5em;
    font-weight: 900;
    letter-spacing: 0.2px;
    zoom: 1;
    display: block;

}

.plantextonefade {
    opacity: 1;
}

.plantexttwofade {
    opacity: 1;
}

.plantextthreefade {
    opacity: 1;
}

.plantextfourfade {
    opacity: 1;
}

.planimagedefault {
    z-index: 10;
    width: 163px;
    -webkit-transition: all 2s linear;
    transition: all 2s linear;
    display: none;
    opacity: 0;
    position: absolute;
    top: 33px;
    margin-left: 8px;

}

.planimageonefade {
    display: initial;
    opacity: 1;
}

.planimagetwofade {
    display: initial;
    opacity: 1;
}

.planimagethreefade {
    display: initial;
    opacity: 1;
}

.planimagefourfade {
    display: initial;
    opacity: 1;
}

.splitsettledefaultbackground {
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    background-color: #2e3842;
    height:100%;
    border-right:1px solid black;
    padding-top:10px
}

.planplaydefaultbackground {
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    background-color: #2e3842;
    height:100%;
    padding-top:10px

}

.splitsettlefadebackground {
    background-color: white;
}

.planplayfadebackground {
    background-color: white;

}

.splitandsettletext {
    text-decoration: none;
    font-family: "Titillium Web",sans-serif;
    font-size: 2em;
    letter-spacing: 1px;
    font-weight: 100;
    color: white;
    -webkit-transition: all 2s;
    transition: all 2s;
    text-transform: none;letter-spacing: 1px;
    line-height: 3em;
}

.splitandsettletextchange {
    color: black;
}

.planandplaytext {
    text-decoration: none;
    font-family: "Titillium Web",sans-serif;
    font-size: 2em;
    letter-spacing: 1px;
    font-weight: 100;
    color: white;
    -webkit-transition: all 2s;
    transition: all 2s;
    text-transform: none;letter-spacing: 1px;
    line-height: 3em;
}

.planandplaytextchange {
    color: black;
}

.navbarbackgroundcolourdark {
    background-color: #5585B5;
}

.hidelogoshow {
    opacity: 1;
}

.starttimernodisplaynone {
    display: none;
}

.endtimerlogodisplaytrue {
    display: initial;
}

.navbarbackgroundcolourwhite {
    background-color: #FFFFFF;
}

.hidelogonotshow {
    opacity: 0;
}

.starttimernodisplaytrue {
    display: initial;
}

.endtimerlogodisplaynone {
    display: none;
}

.sidebar {
    top: 0px;
    height: 100%;
}

@keyframes animate {
    to {
        height: 100px;
    }
}

#slides_control > div {
    height: 200px;
}

img {
    margin: auto;
    width: 400px;
}

#slides_control {
    position: absolute;
    width: 400px;
    left: 50%;
    top: 20px;
    margin-left: -200px;
}

a{
    font-family: "Titillium Web",sans-serif;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    from {
        width: 0;
    }
    to {
        width: 100px;
    }
}

/* Standard syntax */
@keyframes example {
    from {
        width: 0;
    }
    to {
        width: 100px;
    }
}

.defaultsliderone {

}

.defaultslidertwo {

}

.defaultsliderthree {

}



.showslideronedisplay {
    display: initial;
}

.showslidertwodisplay {
    display: initial;
}

.showsliderthreedisplay {
    display: initial;
}


.hideslideronedisplay {
    display: none;
}


.hideslidertwodisplay {
    display: none;
}


.hidesliderthreedisplay {
    display: none;
}

.sliderimageanimate {
    -webkit-animation-name: sliderimagemove; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: sliderimagemove;
    animation-duration: 4s;
}


.lefttorightsliderone{
    position :relative;
    -webkit-animation: lefttoright 0.8s ; /* Chrome, Safari, Opera */
    animation: lefttoright 0.8s ;
}

.righttoleftsliderone{
    position :relative;
    -webkit-animation: righttoleft 0.8s ; /* Chrome, Safari, Opera */
    animation: righttoleft 0.8s ;
}

.lefttorightslidertwo{
    position :relative;
    -webkit-animation: lefttoright 0.8s ; /* Chrome, Safari, Opera */
    animation: lefttoright 0.8s ;
}

.righttoleftslidertwo{
    position :relative;
    -webkit-animation: righttoleft 0.8s ; /* Chrome, Safari, Opera */
    animation: righttoleft 0.8s ;
}

.lefttorightsliderthree{
    position :relative;
    -webkit-animation: lefttoright 0.8s ; /* Chrome, Safari, Opera */
    animation: lefttoright 0.8s ;
}

.righttoleftsliderthree{
    position :relative;
    -webkit-animation: righttoleft 0.8s ; /* Chrome, Safari, Opera */
    animation: righttoleft 0.8s ;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes lefttoright {
    from {left: 0px;}
    to {left: 100%;}
}

/* Standard syntax */
@keyframes lefttoright {
    from {left: 0px;}
    to {left: 100%;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes righttoleft {
    from {right: 0px;}
    to {right: 100%;}
}

/* Standard syntax */
@keyframes righttoleft {
    from {right: 0px;}
    to {right: 100%;}
}


.topleftlogo{
    position: absolute;
    width:34px;top:8px;
    left:10px
}

.logozindexwhite{
    z-index: 10;
}

.logozindexblue{
    z-index: 10;
}

.sidebarrightposition{
    position:absolute;
    height:100%;
    z-index: 10;
}

.sidebarrightposition .sidebar{
    background-color:#2E3842;
    z-index:10;padding-left:0px;
    padding-right:0px;
    padding-top:30px;

}

.sidebarrightposition .ion-ios-close-empty{
    color:white;
    font-size:4em;
    margin-left:70%;
    font-weight:normal;
    font-family: 'Glyphicons Halflings';
}

.socialaccount{
    color: white;  !important;
    padding-left:15%;
    margin-top:50px;
}

.socialaccount .ion-social-facebook{
    color:white;
    font-size:1.2em;
    cursor: pointer;

}

.socialaccount .ion-social-twitter{
    color:white;
    font-size:1.2em;
    margin-left:3%;
    cursor: pointer;

}

.socialaccount .ion-social-facebook{
    color:white;
    font-size:1.2em;
    cursor: pointer;
}

.socialaccount .ion-social-youtube{
    color:white;
    font-size:1.2em;
    margin-left:3%;
    cursor: pointer;
}

.containerfluidwrapper{
    padding-left:0px;
    padding-right:0px;
}

.topbackground {
    -webkit-transition: background-color 2s;
    transition: background-color 2s;
    background-color: #2E3842;
    height: 500px;
    display: block;
    border-bottom:1px solid black;
}

.changetopbackground {
    background-color: white;
}

.mypoolintext{
    color:rgb(85, 133, 181);
    font-family: 'Titillium Web',sans-serif;
    font-size: 46px;
    margin-bottom: 1px;
    letter-spacing:0;
    font-weight: bold;
}

.paymentmadefuntext{
    color:rgb(85, 133, 181);
    font-family:'Titillium Web',sans-serif;
    line-height: 1.5em;
    font-size: 20px;
    letter-spacing: .5px;
    margin-left:10px
}

.storebuttonwrapper{
    margin-top:35px;
}

.storebuttonwrapper .googlestoreimage{
    width:162px;
}

.storebuttonwrapper .appstoreimage{
    margin-left:30px;
    width:162px;

}

.horizontalline{
    margin-top: 10px
}

.horizontalline div{
    font-family: 'Titillium Web';
    letter-spacing:5px;
    padding-top:1em;
    color:black;
    font-weight:900;
}

.startonwebwrapper{
    margin-top: 35px;
}

.ventureswrapper{
    margin-top:20px;
}

.ventureswrapper img{
    width:50px;
    margin-left:5px
}

.sectiontwo{
    height:500px;
    border-bottom: 1px solid black;
}

.splitsettleleftsection{
    height:100%;
    padding-top:10px;
}

.mobilebodywrapper{
    width:180px; !important;
    position:absolute; !important;
}

.splitsettlerightsection{
    height:100%;
    padding-top:10px;
    padding-left:0px
}

.margintop70{
    margin-top:50px;
}

.planplayleftsection{
    height:100%;
    padding-top:10px;
}
.planplayrightsection{
    height:100%;
    padding-top:10px;
    padding-left:0px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px 0;
    color: #181616;
    font-weight: 100;
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.5em;
}

.sectionthree{
    height: 100%;
    margin-top:20px;
}

.payu-paytm{
    width:65px;
}

.mobi-paypal{
    width:62px;
}

.threethousandpeople{
    margin-top:20px;
    font-weight:100;
    font-size:1.5em;
}

.margintop20pixel{
    margin-top:20px;
}
.width30pix{
    width:300px;
}

.poolininfo{
    background-color:#2E3842;
    height:380px;
    padding-top:50px;
}

.poolininfo .mytitle{
    color: white;!important;
}

.poolininfo .myemail{
    color: white;
    margin-top:40px;
    display: block;
    font-size: 1.3em;
    text-decoration:none;
}

.poolininfo .mynumber{
    color: white;
    margin-top:40px;
    display:block;
    font-size: 1.3em;
    text-decoration:none
}

.poolininfo .myaddress{
    color: white;
    margin-top:40px;
    display:block;
    font-size: 1.3em;
    text-decoration:none
}

.footerpoolin{
    background-color:black;
    height:100px;
    padding-top:10px;
    color:white;
}

.footerpoolin .footertext{
    color:white;
    text-decoration:none;
}

.footerpoolin .footerimg{
    width:50px;
}

.onloadimage{
    background-image: url('../images/Loader.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
}

.startnow{
    background-color: #f5a623;
    font-weight: 300;
    font-family: "Titillium Web", sans-serif;
    width: 280px;
    line-height:2em;
    color: white;
    cursor: pointer;
    border-radius:10px;
    font-size: 1.4em;

}

.startnow:hover{
    color: white;
    background-color:#BB6312 ;
    border-radius:10px;
}