<!DOCTYPE html>
<html ng-app="poolin" xmlns:font-family="http://www.w3.org/1999/xhtml">


<head>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="bower_components/bootstrap-sidebar/dist/css/sidebar.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.css">
</head>

<body scroll ng-controller="myCtrl">

<div class="navbar navbar-fixed-top defaultnavcolor"
     ng-class="{
     navbarbackgroundcolourdark:navbarbackgroundcolourdark,
     navbarbackgroundcolourwhite:navbarbackgroundcolourwhite}">


    <a ng-click="navLogoClick()" href="">

        <img src="_include/img/Logo_Blue.png"
             ng-class="{starttimernodisplaynone:starttimernodisplaynone,
             starttimernodisplaytrue:starttimernodisplaytrue}"
             style="width:34px;margin-top:4px;margin-left:10px">

        <img src="_include/img/Logo_White.png"
             ng-class="{endtimerlogodisplaytrue:endtimerlogodisplaytrue,
             endtimerlogodisplaynone:endtimerlogodisplaynone}"
             style="width:34px;margin-top:4px;margin-left:10px">
    </a>

    <button type="button"
            class="navbar-toggle toggle-right defaulticonbar"
            data-toggle="sidebar"
            data-target=".sidebar-right"
            ng-class="{changeiconbar:iconbarchange}"
            ng-click="makebackgroundblur()">

        <span style="background-color: white" class="icon-bar"></span>
        <span style="background-color: white" class="icon-bar"></span>
        <span style="background-color: white" class="icon-bar"></span>

    </button>

    <div class="row" style="z-index:10;background-color:red;position:absolute;height:100%">

        <div class="col-xs-7 col-sm-3 col-md-3
        sidebar sidebar-right sidebar-animate"
             style="background-color:#2E3842;
             z-index:10;padding-left:0px;
             padding-right:0px;
             padding-top:30px">


            <span class="ion-ios-close-empty" ng-click="makebackgroundnormal()"
                  ng-class="{howitworksanimate:howitworksanimate}"
                  style="color:white;
                  font-size:4em;margin-left:250px;font-weight:normal;font-family: 'Glyphicons Halflings';"
                  data-toggle="sidebar"
                  data-target=".sidebar-right">

            </span>


            <ul class="nav navbar-stacked" style="margin-top:10px">

                <li class="howitworks" ng-class="{howitworksanimate:howitworksanimate}" data-toggle="sidebar"
                    data-target=".sidebar-right">
                    <a class="howitworks"
                       data-toggle="sidebar"
                       data-target=".sidebar-right"
                       ng-class="{howitworksanimate:howitworksanimate}"
                       style="font-family:'Titillium Web,',sans-serif"
                       ng-click="makebackgroundnormal()"
                       du-smooth-scroll="section-3" du-scrollspy>
                        HOME
                    </a>
                </li>

                <li class="howitworks" ng-class="{howitworksanimate:howitworksanimate}">
                    <a class="howitworks" style="font-family:'Titillium Web,',sans-serif"
                       ng-click="makebackgroundnormal()" data-toggle="sidebar"
                       data-target=".sidebar-right" du-smooth-scroll="section-3" du-scrollspy>
                        HOW IT WORKS
                    </a>
                </li>

                <li class="examples" ng-class="{howitworksanimate:howitworksanimate}">
                    <a class="examples" style="font-family: 'Titillium Web', sans-serif"
                       ng-click="makebackgroundnormal()" data-toggle="sidebar"
                       data-target=".sidebar-right" du-smooth-scroll="section-3" du-scrollspy>
                        EXAMPLES
                    </a>
                </li>

                <li class="getstarted" ng-class="{howitworksanimate:howitworksanimate}">
                    <a class="getstarted" style="font-family: 'Titillium Web', sans-serif"
                       ng-click="makebackgroundnormal()" data-toggle="sidebar"
                       data-target=".sidebar-right" du-smooth-scroll="section-3" du-scrollspy>
                        GET-STARTED
                    </a>
                </li>

                <li class="faqs" ng-class="{howitworksanimate:howitworksanimate}">
                    <a class="faqs" ng-class="{howitworksanimate:howitworksanimate}"
                       style="font-family:'Titillium Web', sans-serif;" ng-click="makebackgroundnormal()"
                       data-toggle="sidebar"
                       data-target=".sidebar-right" du-smooth-scroll="section-3" du-scrollspy>
                        FAQS
                    </a>
                </li>

                <li class="forbusinesses" ng-class="{howitworksanimate:howitworksanimate}">
                    <a href="#business" class="forbusinesses " style="font-family: 'Titillium Web', sans-serif"
                       data-toggle="sidebar"
                       data-target=".sidebar-right"
                       du-smooth-scroll="section-3" du-scrollspy>
                        BUSINESSES
                    </a>
                </li>


                <div style="font-family: 'Titillium Web'; letter-spacing:1px;color:white;font-weight:900;padding-left:50px">
                    ..........................................
                </div>

                <li class="myaccount" ng-class="{howitworksanimate:howitworksanimate}">
                    <a href="#accounts" class="myaccount" style="font-family: 'Titillium Web', sans-serif"
                       data-toggle="sidebar"
                       data-target=".sidebar-right" du-smooth-scroll="section-3" du-scrollspy>
                        MY_ACCOUNT
                    </a>
                </li>
                -->
            </ul>
            <div style="margin-top:100px">
                <i class="ion-social-vimeo" style="color:white;font-size:1em;margin-left:50px"></i>
                <i class="ion-social-twitter" style="color:white;font-size:1em;margin-left:2%"></i>

            </div>
        </div>
    </div>

</div>

<!-- Begin page content -->
<div class="container-fluid" ng-click="makebackgroundnormal()" style="padding-left:0px;padding-right:0px;">

    <div class="row topbackground"
         ng-class="{changetopbackground:lightbackground,makebodyblur:makebodyblur}"
         style="height: 500px;display: block;
          border-bottom:1px solid black;">

        <div class="main col-md-12">

            <div class="center-block text-center taglinefade" ng-class="{taglineshow:showtagline}">
                <!--<img src="images/Logo_Mypoolin_white.png" style="width: 155px;color:red">-->
                <p style="color:rgb(85, 133, 181);font-family: 'Titillium Web',sans-serif;
                font-size: 46px;margin-bottom: 1px;letter-spacing:0;font-weight: bold;">
                    Mypoolin
                </p>

                <p style="color:rgb(85, 133, 181);font-family:'Titillium Web',sans-serif;
                line-height: 1.5em;font-size: 20px;letter-spacing: .5px;margin-left:10px">
                    Payments made fun
                </p>
            </div>

            <!--  <span class="firstline center-block" ng-class="{ fadeline: hideline, firstlineaniamte: linewidth}"></span>-->


            <div class="text-center taglinefade" ng-class="{taglineshow:showtagline}" style="margin-top:35px">

                <input id="phoneNumber" type="phone" placeholder="9999-99999" maxlength="10">

                <button class="linkbuttonforapp">
                   <span style="">
                       GET LINK
                   </span>
                </button>

            </div>

            <div class="text-center taglinefade" ng-class="{ taglineshow: showtagline}" style="margin-top:35px">

                <a href="https://play.google.com/store/apps/details?id=com.app.mypoolin&amp;referrer=utm_source%3Dhome_page%26utm_medium%3Dmypoolin_web">
                    <img class="googlestoreimage" src="images/playstore-black-button.jpg" style="width:162px">
                </a>

                <a href="https://itunes.apple.com/in/app/mypoolin-plan-pay-friends/id1032623508?mt=8&amp;ref
                errer=utm_source%3Dhome_page%26utm_medium%3Dmypoolin_web" style="margin-left:30px"><img
                        class="appstoreimage" src="images/apptore-black-button.jpg" style="width:162px;">
                </a>

            </div>

            <div class="text-center taglinefade" ng-class="{ taglineshow: showtagline}" style="margin-top: 10px">
                <div style="font-family: 'Titillium Web'; letter-spacing:5px; padding-top:1em;color:black;font-weight:900">
                    ..............................................
                </div>
            </div>

            <div class="text-center taglinefade" ng-class="{ taglineshow: showtagline}" style="margin-top: 30px">

                <button class="btn startonwebbutton">
                    START ON WEB
                </button>
            </div>

            <div class="text-center taglinefade" ng-class="{ taglineshow: showtagline}" style="margin-top: 20px">

                <a href="">
                    Winner of QPrize 2015 India
                    <img src="_include/img/qualcomm-1.png" style="width:50px;margin-left:5px">
                    <img src="_include/img/Accel.png" style="width:50px;margin-left:5px">
                </a>
            </div>
        </div>
    </div>


    <div class="row" style="height:470px;">

        <!--<div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 planandplay text-center"
             style="height: 100%;border-right:1px solid black">
            <a style="color:white;font-size: 20px;text-decoration: blink;font-family: 'titillium Web',sans-serif;display: block">
                SPLIT &amp; SETTLE
            </a>
            <img src="images/Flow_Split.gif" style="width: 200px">
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 splitandsettle text-center" style="height: 100%">
            <a style="color:white;font-size: 20px;text-decoration: blink;font-family: 'titillium Web',sans-serif;display: block">
                PLAN &amp; PAY
            </a>
            <img src="images/Flow_Plan.gif" style="width: 200px">
        </div>-->

        <div class="col-md-6 col-lg-6 splitsettledefaultbackground"
             style="height:100%;
             border-right:1px solid black;
             padding-top:20px"
             ng-mouseenter="StartTimerSettle()"
             ng-mouseleave="StopTimerSettle()"
             ng-class="{splitsettlefadebackground:splitsettlefade}">

            <div class="row text-center">
                <a class="splitandsettletext" style="text-decoration:none"
                   ng-class="{splitandsettletextchange:splitandsettletextchange}">
                    Split & Settle
                </a>
            </div>


            <div class="row" style="height:100%">

                <div class="col-md-6 col-lg-6 text-center"
                     style="height:100%;padding-top:30px">

                    <div class="containerdiv" style="position:relative">
                        <img src="images/Phone.png"
                             alt="img"
                             style="width:180px;
                             position:absolute;">
                        <!-- <img class="cornerimage" style="width:142px;position: absolute;top:29px;left:7px"
                              src="Plan%20&%20Pay/Plan%20&%20Pay/PnP_1.png" alt="">-->

                        <img src="Split%20&%20Settle/Split%20&%20Settle/SnS_1.png"
                             class="splitsettleimagedefault"
                             ng-class="{splitsettleimageonefade:splitsettleimageonefading}">

                        <img src="Split%20&%20Settle/Split%20&%20Settle/SnS_2.png" class="splitsettleimagedefault"
                             ng-class="{splitsettleimagetwofade:splitsettleimagetwofading}">

                        <img src="Split%20&%20Settle/Split%20&%20Settle/SnS_3.png" class="splitsettleimagedefault"
                             ng-class="{splitsettleimagethreefade:splitsettleimagethreefading}">

                        <img src="Split%20&%20Settle/Split%20&%20Settle/SnS_4.png" class="splitsettleimagedefault"
                             ng-class="{splitsettleimagefourfade:splitsettleimagefourfading}">


                        <div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6"
                     style="height:100%;padding-top:30px;padding-left:80px">

                    <span class="splitsettletextdefault" style="display:block"
                          ng-class="{splitsettletextonefade:splittextone}">
                         1. Choose Amount
                    </span>

                    <span class="splitsettletextdefault" style="display:block;margin-top:70px"
                          ng-class="{splitsettletexttwofade:splittexttwo}">
                          2. Create Pool
                    </span>

                    <span class="splitsettletextdefault" style="display:block;margin-top:70px"
                          ng-class="{splitsettletexttwofade:splittextthree}">
                          3. Manage Friends
                    </span>

                    <span class="splitsettletextdefault" style="display:block;margin-top:70px"
                          ng-class="{splitsettletexttwofade:splittextfour}">
                          4. Payment to Bank
                     </span>

                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-6 planplaydefaultbackground " style="height:100%;padding-top:20px"
             ng-mouseenter="StartTimerPlay()"
             ng-mouseleave="StopTimerPlay()" ng-class="{planplayfadebackground:planplayfade}">
            <div class="row text-center">

                <a class="planandplaytext" style="text-decoration:none"
                   ng-class="{planandplaytextchange:planandplaytextchange}">
                    Plan & Play
                </a>

            </div>

            <div class="row" style="height:100%">
                <div class="col-md-6 col-lg-6 text-center"
                     style="height:100%;padding-top:30px">

                    <div class="containerdiv" style="position:relative">
                        <img src="images/Phone.png"
                             alt="img"
                             style="width:180px;
                             position:absolute;">

                        <img src="Plan%20&%20Pay/Plan%20&%20Pay/PnP_1.png" class="planimagedefault"
                             ng-class="{planimageonefade:planimageonefading}">
                        <img src="Plan%20&%20Pay/Plan%20&%20Pay/PnP_2.png" class="planimagedefault"
                             ng-class="{planimagetwofade:planimagetwofading}">
                        <img src="Plan%20&%20Pay/Plan%20&%20Pay/PnP_3.png" class="planimagedefault"
                             ng-class="{planimagethreefade:planimagethreefading}">
                        <img src="Plan%20&%20Pay/Plan%20&%20Pay/PnP_4.png" class="planimagedefault"
                             ng-class="{planimagefourfade:planimagefourfading}">

                    </div>

                </div>

                <div class="col-md-6 col-lg-6"
                     style="height:100%;padding-top:30px;padding-left:80px">

                    <span class="plantextdefault" style="display:block"
                          ng-class="{plantextonefade:plantextone}">
                         1. Choose Amount
                    </span>

                    <span class="plantextdefault" style="display:block;margin-top:70px"
                          ng-class="{plantexttwofade:plantexttwo}">
                          2. Create Pool
                    </span>

                    <span class="plantextdefault" style="display:block;margin-top:70px"
                          ng-class="{plantexttwofade:plantextthree}">
                          3. Manage Friends
                    </span>

                    <span class="plantextdefault" style="display:block;margin-top:70px"
                          ng-class="{plantexttwofade:plantextfour}">
                          4. Payment to Bank
                     </span>

                </div>


            </div>
        </div>

    </div>


    <div id="section-3" class="row text-center" style="height: 100%;margin-top:20px">

        <span>
        <h3 style="font-family: 'Titillium Web', sans-serif">Trusted and Secure. Our Payment Partners</h3>
        </span>

        <img src="images/buyer-protection.png" style="width:65px">
        <img src="images/seal.png" style="width:65px">
        <img src="images/mobikwik-stamp.jpg" style="width:62px">
        <img src="images/paypal-stamp.jpg" style="width: 62px;">

        <div class="title-page">

            <h2 style="margin-top:20px;font-weight:100;font-size:1.5em">
                30000+ awesome people active already!
            </h2>

            <h2 id="sectionTitle" style="margin-top:20px">What do you wanna do today?</h2>
        </div>

        <div class="row defaultsliderone"
             ng-click="changesliderone()"
             ng-class="{showslideroneopacity:showslideroneopacity,showslideronedisplay:showslideronedisplay,hideslideroneopacity:hideslideroneopacity
             ,hideslideronedisplay:hideslideronedisplay}">

            <div class="col-lg-6 col-md-6 text-center">
                <img src="_include/img/samples/collect.jpg" style="width:300px;">

                <h3 class="profile-name">Split &amp; Settle</h3>
                Split and collect money back from your friends<br/>
                Settle your bills for dining, movies, parties &amp; more!
            </div>

            <div class="col-lg-6 col-md-6 text-center">
                <img src="_include/img/samples/events.jpg" style="width:300px">

                <h3 class="profile-name">Plan &amp; Pay</h3>
                Plan anything with your group of friends<br/>
                Everyone pays their own share for the plan!
            </div>
        </div>

        <div class="row defaultslidertwo" ng-click="changeslidertwo()"
             ng-class="{showslidertwoopacity:showslidertwoopacity,showslidertwodisplay:showslidertwodisplay,hideslidertwoopacity:hideslidertwoopacity
             ,hideslidertwodisplay:hideslidertwodisplay}">

            <div class="col-lg-6 col-md-6 text-center">
                <img src="_include/img/samples/dining.jpg" style="width:300px;">

                <h3 class="profile-name">Close set of friends</h3>
                Add your close friends from your email list<br/>
                Split and assign shares for everyone.
            </div>

            <div class="col-lg-6 col-md-6 text-center">
                <img src="_include/img/samples/gifting.jpg" style="width:300px">

                <h3 class="profile-name">Open group of people</h3>
                Not sure about how many people will join<br/>
                Everyone pays their own share for the plan!
            </div>
        </div>


        <div class="row defaultsliderthree" ng-click="changesliderthree()"
             ng-class="{showsliderthreeopacity:showsliderthreeopacity,showsliderthreedisplay:showsliderthreedisplay,hidesliderthreeopacity:
             hidesliderthreeopacity
             ,hidesliderthreedisplay:hidesliderthreedisplay}">

            <div class="col-lg-6 col-md-6 text-center">
                <img src="_include/img/samples/others.jpg" style="width:300px;">

                <h3 class="profile-name">Organizing an Event</h3>
                Split and collect money back from your friends<br/>
                Settle your bills for dining, movies, parties &amp; more!
            </div>

            <div class="col-lg-6 col-md-6 text-center">
                <img src="_include/img/samples/project-2.jpg" style="width:300px">

                <h3 class="profile-name">Open Gathering</h3>
                Plan anything with your group of friends<br/>
                Everyone pays their own share for the plan!
            </div>
        </div>
    </div>

    <div class="footerpoolin row text-center" style="background-color:#2E3842;height:380px;padding-top:50px">

        <h3 class="title" style="color:white">Ask us any queries that you may have!</h3>
        <a href="" style="color: white;margin-top:40px;display: block;font-size: 1.1em;text-decoration:none">hello@mypoolin.com</a>
        <a href="" style="color: white;margin-top:40px;display:block;font-size: 1.1em;text-decoration:none">
            (+91) 9599771577
        </a>
        <a style="color: white;margin-top:40px;display:block;font-size: 1.1em;text-decoration:none">
            InfinyPool India
            <br>
            Sector-32, Gurgaon
            <br>
            Haryana, India
        </a>
    </div>

    <div class="footerpoolin row text-center" style="background-color:black;height:100px;padding-top:10px;color:white">
        <a style="color:white;text-decoration:none" href="About/About.html" target="_blank">About Us.</a>
        <a style="color:white;text-decoration:none" href="blog" target="_blank">Blog.</a>
        <a style="color:white;text-decoration:none" href="About/Press.html" target="_blank">Press and Media</a><br>
        <a style="color:white;text-decoration:none" href="About/Terms.html" target="_blank">Terms and Conditions. </a>
        <a style="color:white;text-decoration:none" href="About/Privacy.html" target="_blank"> Privacy Policy </a><br>
        <a style="color:white;text-decoration:none">© Mypoolin. 100% Secure</a>
        <img src="_include/img/verified-by-visa.png" style="width:60px">
        <img src="_include/img/MasterCard_SecureCode.png" style="width:60px">
    </div>
</div>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/bootstrap-sidebar/dist/js/sidebar.js"></script>
<script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script src="js/app.js"></script>
<script src="js/controllers.js"></script>

<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
</body>
</html>